@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.containerb{
    width: 100%;
    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;

}

.home-creators-bg{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(/img/home-bg.png);
}


